---

---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<div>
			<p>Where do we begin in praising this amazing website?</p>
			<h2>Begin Here</h2>
			<p>Seems like the place we want to start.</p>
		</div>
	</body>
</html>